<%- include ("partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Inventory</p>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img
          height="auto"
          width="100%"
          class="img-responsive"
          src="<%= item.image %> "
          alt=""
        />
        <div class="caption-full">
          <h4>
            <a href=""><%= item.title %> <span> <%= item.price %> </span></a>
          </h4>
          <p><%= item.body %></p>
        </div>
      </div>
    </div>
  </div>
  <a href="/gallery/:id/edit"
    ><button class="edit btn btn-warning">Edit Post</button></a
  >
  <a href="/gallery/:id/delete"
    ><button class="delete btn btn-danger">delete Post</button></a
  >
</div>
<%- include ("partials/footer") %>
