<%- include ("../partials/header") %>
  <div class="container">
    <br />
    <form id="Add-Item" class="ui form" action="/gallery/<%= item._id %>/?_method=PUT" method="POST">
      <h1>Tell Us What You Got</h1>
      <div class="field">
        <label>Title</label>
        <input type="text" name="item[title]" value="<%=item.title%>" />
      </div>
      <div class="field">
        <label>Image</label>
        <input type="text" name="item[image]" value=" <%=item.image%>" />
      </div>
      <div class="field">
        <label>Price</label>
        <input type="text" name="item[price]" value="<%=item.price%>" />
      </div>
      <div class="field">
        <label>Description</label>
        <textarea type="text" name="item[description]" value="<%=item.description%>"></textarea>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
  <%- include ("../partials/footer") %>