<%- include ("../partials/header") %>
<!-- item information -->
<div class="ui container">
  <div class="content">
    <div class="right floated meta">14h</div>
    <img class="ui avatar image" src="Images/avatar.jpg" /> Quinten Aiton
  </div>
  <div class="image">
    <img
      src="<%= item.image %> "
      alt="item image"
      height="600px"
      width="auto"
      class="center"
    />
  </div>
  <div class="content">
    <h3><%= item.title %></h3>
    <h4><%= item.price %></h4>
    <p><%= item.description %></p>
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon"></i>
    3 comments
  </div>
  <div class="extra content">
    <div class="ui large transparent left icon input">
      <i class="heart outline icon"></i>
    </div>
  </div>
</div>
<br />
<!-- edit and delete buttons -->
<a href="/gallery/:id/edit"
  ><button class="ui yellow button">Edit Post</button></a
>
<form action="/gallery/<%= item._id %>/?_method=DELETE" method="POST">
  <button id="red-Button" class="ui red button">delete Post</button>
</form>

<!-- comments sections -->
<div class="ui container">
  <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <% item.comments.forEach(comment => { %>
    <div class="comment">
      <a class="avatar">
        <img src="/images/avatar/small/matt.jpg" />
      </a>
      <div class="content">
        <a class="author"><%= comment.author %> </a>
        <div class="metadata">
          <span class="date"><%= comment.created %> </span>
        </div>
        <div class="text"><%= comment.text %></div>
        <div class="actions"></div>
      </div>
    </div>
    <% }) %>

    <!-- Comments form  -->
    <form action="/gallery/<%= item._id %>" method="POST" class="ui reply form">
      <div class="field">
        <div class="field">
          <label>author</label>
          <input type="text" name="comment[author]" placeholder="author" />
        </div>
        <textarea name="comment[text]"></textarea>
      </div>
      <button class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Add Comment
      </button>
    </form>
  </div>
</div>
<%- include ("../partials/footer") %>
