<%- include ("../partials/header") %>
  <!-- item information -->
  <div class="show-container">
    <div class="show-wrapper">
      <div class="item-main">
        <h1>
          <%=item.title %>
        </h1>
        <img src="<%= item.image %> " alt="item image" height="auto" width="600px">
      </div>
      <div class="item-info">
        <div class="item-description">
          <h3 id="description">About this Item:</h3>
          <h4>$<%= item.price %>
          </h4>
          <p>
            <%= item.description %>
          </p>
        </div>
        <!-- comments section -->
        <div class="ui comments">
          <h3 class="ui dividing header">Comments</h3>
          <% item.comments.forEach(comment=> { %>
            <div class="comment">
              <div class="content">
                <div class="metadata">
                  <p id="comment-author">
                    <%=comment.owner.username %>
                  </p>
                  <span id="comment-date">
                    <%= comment.created %>
                  </span>
                </div>
                <p id="comment-text">
                  <%= comment.text %>
                </p>
              </div>
            </div>
            <% }) %>

              <!-- Comments form  -->
              <% if(currentUser){ %>
                <form action="/gallery/<%= item._id %>" method="POST" class="ui reply form">
                  <div class="field">
                    <textarea name="comment[text]"></textarea>
                  </div>
                  <button class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Add Comment
                  </button>
                </form>
                <% } %>
        </div>
        <!-- edit and delete buttons -->
        <% if( currentUser && item.owner.id.equals(currentUser._id)){ %>
          <div class="button-wrapper">
            <a href="/gallery/<%=item._id%>/edit"><button class="ui yellow button">Edit Post</button></a>
            <form action="/gallery/<%= item._id %>/?_method=DELETE" method="POST">
              <button id="red-Button" class="ui red button">delete Post</button>
            </form>
          </div>
          <% } %>
      </div>
    </div>
  </div>



  <%- include ("../partials/footer") %>